body{
    font-family: 'Roboto', sans-serif;
    color: #320b86;
}

section.container{
    width: 70%;
    margin: 5em auto 1em;
    padding: 2em;
    min-height: 70vh;
    border-bottom: 1px solid #b39ddb;
}

h1 {
    background-color: #673ab7;
    color: #fff;
    font-weight: bold;
    padding: 1em;
    border-top: 10px solid #320b86;
}

ul{
    list-style-type: none;
}

li{
    display: flex;
    justify-content: space-between;
    transition: 0.1s background-color;
}

li:hover{
    background-color: #673ab7;
    color: #fff;
    transition: 1.5s all;
}

li>*{
    margin: 1em 2em;
    padding: 1em 2em;
}

li > a {
    transition:1s color;
}

li > a.published:hover{
    color:green;
}

li > a.unpublished:hover{
    color:red;
}